<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2><a th:href="@{/department/register}">Add Department</a></h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>

        <th colspan="2">Action</th>
    </tr>

    <tr th:each="department: ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.firstName}"></td>

        <td><a th:href="@{'/department/edit/' + ${department.id} }">Edit</a></td>
        <td>
            <form th:action="@{/department/delete/{id}(id = ${department.id})}" method="post">
                <button type="submit" onclick="return confirm('Do you really want ot delete?')">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>